<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713444287382-g96i584hta60n58425igr3nbltlc0582.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713444287382-g96i584hta60n58425igr3nbltlc0582</string>
	<key>API_KEY</key>
	<string>AIzaSyAlEHCVgCafkn6PC90fUGdEYaKXjP1Ovco</string>
	<key>GCM_SENDER_ID</key>
	<string>713444287382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topbusiness.medosedovendor</string>
	<key>PROJECT_ID</key>
	<string>medosedo-857c6</string>
	<key>STORAGE_BUCKET</key>
	<string>medosedo-857c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713444287382:ios:745b7c2f978a28578733b7</string>
</dict>
</plist>